@use 'sass:color';
$btn-color: #3490dc;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: $btn-color;
  &:hover {
    background-color: color.adjust($btn-color, $lightness: -10%);
  }
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
